<style>
    @font-face {
        font-family: wawa;
        src: url(/fonts/wawa.TTF);
    }

    html {
        font-family: wawa;
        font-size: 62.5%;
    }
</style>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
